.wrapper {
    background-color: #ddd;
    padding: 50px 0;
}

.title {
    background-color: rgb(103 103 208);
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.div-wrapper {
    background-color: var(--white-color);
    padding: 16px;
    min-height: 320px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}