.wrapper {
    color: var(--text-color);
}

.title {
    padding-left: 16px;
    background-color: var(--white-color);
}

.active-quiz {
    text-align: right;
}

.content {
    margin-top: 10px;
    margin-bottom: 10px;
}

.wrapper-answer {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
}

.answer-item {
    padding: 4px 0;
}

.result {
    color: red;
}

.result-item {
    margin-top: 10px;
}

.correct {
    color: green;
}

.error {
    color: red;
}
