.footer {
    width: 100%;
    background-color: var(--footer-background-color);
    color: #ddd;
    padding-top: 30px;
    padding-bottom: 30px;

    .contact-panel {
        font-size: 1.4rem;
        .contact-item {
            display: flex;
            margin-bottom: 15px;
            align-items: center;

            .icon {
                width: 22px;
                margin-right: 10px;
            }
        }

        .branch-content {
            max-height: 300px;
            overflow-x: hidden;
            overflow-y: auto;
            padding: 10px 0;
        }

        .connect {
            display: flex;
            align-items: flex-end;

            p {
                padding: 0;
                margin: 0;
                font-size: 1.6rem;
                font-weight: bold;
            }

            .icon {
                margin-left: 10px;
            }
        }
    }

    .policy {
        .wrapper-item {
            display: flex;
            flex-direction: column;
        }

        .stamp {
            .img-link {
                .img {
                    padding-top: 10px;
                    width: 200px;
                }
            }
        }
    }

    .grid-container-custom {
        display: flex;
        justify-content: center;
    }

    @media (max-width: 900px) {
        .grid-container-custom {
            display: block;
        }
    }
}
